{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé | {{ parent () }}{% endblock %}

{% block body %}
    <p class="alert alert-success position-absolute top-50 start-50 translate-middle">
        Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        <br>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
